# Oura OAuth2
OURA_CLIENT_ID=
OURA_CLIENT_SECRET=
OURA_REDIRECT_URI=http://127.0.0.1:8765/callback
OURA_SCOPES="email personal daily heartrate workout session tag spo2 stress resilience"

# Storage
OURA_TOKEN_PATH=data/tokens/oura_tokens.json
DUCKDB_PATH="data/oura.duckdb"
OURA_DATA_DIR=data/raw

# Dagster
DAGSTER_HOME=/path/to/repo/.dagster

# Snowflake Private Key
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PRIVATE_KEY=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
